* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 2px solid hsl(0, 0%, 100%);
    background-color: #000;

    width: 512px;
    height: 512px;

    /* landscape and portrate on mobile devices */
    /* make this responsive */
    @media (max-width: 512px) {
        width: 100%;
        height: auto;
    }

    @media (max-height: 512px) {
        width: auto;
        height: 100%;
    }
}